<div id="table">
    <div id="search">
        <input type="text" placeholder="Find tools, commands, technics." id="search-input">
    </div>
    <div id="tags">
        {% for tag in site.tags %}
            <span>{{ tag[0] }}</span>
        {% endfor %}
    </div>
    <div id="results"></div>
</div>

<script src="/assets/js/filter.js"></script>
<script>
    const elemSearchInput = document.getElementById('search-input');
    const elemResults = document.getElementById('results');

    const defaultResults = `
        {% assign sorted_fruits = site.fruits | sort: "title" %}
        {% for fruit in sorted_fruits %}
            <div class="result">
                <div class="head">
                    <a href="{{ fruit.url }}" class="title">
                        {{ fruit.title }}
                    </a>
                    <div class="tags">
                        {% for tag in fruit.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="desc">
                    {{ fruit.desc }}
                </div>
            </div>
        {% endfor %}
    `;

    window.onload = () => {
        elemResults.innerHTML = defaultResults;
    }

    addEventListener('keyup', event => {
        if (document.activeElement === elemSearchInput) {
            let query = elemSearchInput.value;
            setUrlHash(query);

            if (query === "") {
                elemResults.innerHTML = defaultResults;
            } else {
                filter(elemResults);
            }
        }
    });
</script>