<div id="table">
    <div id="search">
        <input type="text" placeholder="Search tools, commands, technics." id="search-input">
    </div>
    <div id="tags">
        {% for tag in site.data.tags %}
            <span class="tag tag-{{ tag.name }}">{{ tag.name }}</span>
        {% endfor %}
    </div>
    <div id="results"></div>
</div>

<script src="/assets/js/filter.js"></script>
<script>
    const elemTable = document.getElementById('table');
    const elemSearchInput = elemTable.querySelector('#search-input');
    const elemTags = elemTable.querySelector('#tags');
    const elemTagList = elemTags.querySelectorAll('.tag');
    const elemResults = elemTable.querySelector('#results');

    const defaultResults = `
        {% assign sorted_fruits = site.fruits | sort: "title" %}
        {% for fruit in sorted_fruits %}
            <div class="result">
                <div class="head">
                    <a href="{{ fruit.url }}" class="title">
                        {{ fruit.title }}
                    </a>
                    <div class="tags">
                        {% for tag in fruit.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="desc">
                    {{ fruit.desc }}
                </div>
            </div>
        {% endfor %}
    `;

    window.onload = async () => {
        elemResults.innerHTML = await defaultResults;

        if (location.hash.length > 0) {
            elemSearchInput.value = location.hash.substring(1);
            filter(elemResults);
        }
    }

    elemSearchInput.addEventListener('keyup', event => {
        if (document.activeElement === elemSearchInput) {
            let query = elemSearchInput.value;
            setUrlHash(query);

            if (query === "") {
                elemResults.innerHTML = defaultResults;
            } else {
                filter(elemResults);
            }
        }
    });

    // Click tags event
    for (elemTag of elemTagList) {
        elemTag.addEventListener('click', event => {
            location.hash = event.target.innerHTML;
            elemSearchInput.value = event.target.innerHTML;
            filter(elemResults);
        });
    }
</script>