@import "highlight_github.css";

:root {
    // Colors
    --color-richblack: #000;
    --color-black: #222;
    --color-darkgrey: #555;
    --color-grey: #999;
    --color-lightgrey: #efeaef;
    --color-darkpink: #cf3fdf;
    --color-pink: #df5fff;
    --color-white: #ffefea;
    // Fonts
    --font-family-main: 'Roboto Mono', monospace;;
    --font-family-code: 'Source Code Pro', monospace;;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family-main);
    font-size: 1.0em;
}

div {
    margin: 16px 0;
}


li {
    margin: 32px 0;
}

h1,h2 {
    border-bottom: 1px solid var(--color-white);
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }

a,p,span {
    line-height: 1.8em;
}

a {
    color: var(--color-pink);
}

strong {
    font-size: 1.0em;
}

input {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: var(--color-white);
    padding: 8px;
    font-size: 1.1em;
}
input:focus {
    outline: 4px solid var(--color-pink);
}

code {
    font-family: var(--font-family-code);
    font-size: 0.8em;
}

.highlighter-rouge {
    overflow-x: scroll;
    background: var(--color-richblack);
    border-radius: 6px;
    padding: 8px 16px;
    line-height: 1.4em;
}

@media (max-width: 480px) {
    ol,ul {
        padding-left: 12px;
    }
}