---
---
@import "main";

// News
#news {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 32px;
    z-index: 2;
    background-color: #692220;
}
#news p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
#news p a {
    color: #dfdb26;
}

// Container
#container {
    margin: 80px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Nav
nav {
    position: sticky;
    top: 0;
    background: var(--color-black);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav #left,#right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav #left {
    flex-grow: 8;
    justify-content: flex-start;
}
nav #right {
    flex-grow: 2;
    justify-content: flex-end;
}
nav #left a #icon {
    width: 50px;
}
nav #left #nav-search {
    width: 100%;
}
nav #left #nav-search-input {
    width: 100%;
    height: 40px;
}
nav #right a {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}

// Intro
#intro {
    margin: 32px 0 12px 0;
    width: 100%;
}
#intro p {
    line-height: 1.6em;
}

// Table
#table {
    margin: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table #search {
    width: 100%;
}
#table #search #search-input {
    width: 100%;
    padding: 14px 12px;
    font-size: 1.2em;
}
#table #tags {
    margin: 18px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#table #tags .tag {
    margin: 0 8px 8px 0;
    background: var(--color-darkgrey);
    border-radius: 12px;
    padding: 3px 7px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    cursor: pointer;
}
#table #tags .tag:hover {
    background: var(--color-grey);
}
#table #results {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#table #results .result {
    margin: 12px 0;
    width: 100%;
    border-bottom: 1px solid var(--color-darkgrey);
    border-radius: 4px;
}
#table #results .result .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#table #results .result .head .title {
    margin-bottom: 8px;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--color-white);
}
#table #results .result .head .tags {
    margin: 6px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#table #results .result .head .tags .tag {
    margin: 0 3px 3px 0;
    border-radius: 12px;
    background: var(--color-darkpink);
    padding: 3px 7px;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2em;
    color: var(--color-white);
}
#table #results .result .desc {
    margin: 12px 0;
    font-size: 1em;
}

// Fruit
#fruit {
    margin: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#fruit #title {
    margin: 8px 0;
}
#fruit #tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#fruit #tags .tag {
    margin: 4px;
    background: var(--color-darkpink);
    border-radius: 12px;
    padding: 3px 7px;
    color: var(--color-white);
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
}
#fruit #desc {
    margin: 32px 0;
    font-size: 1.2em;
}
#fruit #tools {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
#fruit #tools .items {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#fruit #tools .items .item {
    margin-right: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
#fruit #alts {
    margin: 12px 0;
    font-size: 1em;
}
#fruit #alts .items {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#fruit #alts .items .item {
    margin-right: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--color-white);
}
#fruit hr {
    margin: 24px 0;
    width: 100%;
    border-bottom: 2px double var(--color-darkgrey);
}

// Media query
@media (max-width: 480px) {
    #container {
        margin-top: 100px;
        width: 90%;
    }

    nav #left #nav-search-input {
        width: 100%;
    }

    #intro {
        margin: 24px 0 6px 0;
    }

    #table {
        margin: 20px 0;
    }

    #fruit #tags .tag {
        margin: 0 3px 5px 0;
    }
}