<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.url == "/" %}
                {{ page.title }} - Find hacking tools, commands, technics
            {% else %}
                {{ page.title }} | Hackfruit
            {% endif %}
        </title>
        <link rel="icon" href="/assets/images/icon.png">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id="container">
            {% include nav.html %}
            {{ content }}
        </div>
    </body>
</html>