---
layout: default
---

<div id="fruit">
    <h1 id="title">{{ page.title }}</h1>
    <div id="tags">
        {% for tag in page.tags %}
        <a href="/#{{ tag }}" class="tag">{{ tag }}</a>
        {% endfor %}
    </div>
    <p id="desc">{{ page.desc }}</p>
    <div id="alts">
        {% if page.alts.size > 0 %}
        <span>Alternatives:</span>
        <div id="items">
            {% for alt in page.alts %}
                <a href="{{ site.baseurl }}/fruits/{{ alt }}" class="item">{{ alt }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <hr />
    
    {{ content }}
</div>