---
layout: default
---

<div id="fruit">
    <h1 id="title">{{ page.title }}</h1>
    <div id="tags">
        {% for tag in page.tags %}
        <a href="/#{{ tag }}" class="tag">{{ tag }}</a>
        {% endfor %}
    </div>
    <p id="desc">{{ page.desc }}</p>
    {% if page.alts.size > 0 %}
        <div id="alts">
            <span>Alternatives:</span>
            <div id="items">
                {% for alt in page.alts %}
                    <a href="{{ site.baseurl }}/fruits/{{ alt }}" class="item">{{ alt }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if page.website %}
        <div id="website">
            <span>
                Website:
            </span>
            <a href="{{ page.website }}" target="_blank" rel="noopener noreferrer">
                {{ page.website }}
            </a>
        </div>
    {% endif %}

    <hr />
    
    {{ content }}
</div>