---
layout: default
---

<div id="fruit">
    <h1 id="title">{{ page.title }}</h1>
    {% if page.tags.size > 0 %}
        <div id="tags">
            {% for tag in page.tags %}
            <a href="/#{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if page.desc %}
        <p id="desc">{{ page.desc }}</p>
    {% endif %}
    {% if page.alts.size > 0 %}
        <div id="alts">
            <span>Alternatives:</span>
            <div class="items">
                {% for alt in page.alts %}
                    <a href="{{ site.baseurl }}/fruits/{{ alt }}" target="_blank" rel="noopener" class="item">{{ alt }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
  
    <hr />
    
    {{ content }}
</div>